# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Development Environment Variables
# 
# WARNING: This file is part of the git repo. DO NOT INCLUDE SENSITIVE DATA!
# 
# The environment variables are read by
# - Solidity scripts in script/
# - forge commands
# 
# Note that the variables need to be exported in order for make to read them
# directly.
# 
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# ------------------------------------------------------------------------------

# RPC endpoints (these are public links, substitute with alchemy or similar for less rate limiting)

# Local
export RPC_URL="http://127.0.0.1:8545" # Local anvil node

# Ethereum
export ETHEREUM_RPC_URL=https://cloudflare-eth.com
export SEPOLIA_RPC_URL=https://rpc.ankr.com/eth_sepolia/919d3fa62bc6fc3bddabdc497f7e6fcd1c242ae86588bcdede81c171daab5df7

# Optimism
export OPTIMISM_SEPOLIA_RPC_URL=https://sepolia.optimism.io
export OPTIMISM_RPC_URL=https://mainnet.optimism.io

# Polygon
export POLYGON_AMOY_RPC_URL=https://rpc-amoy.polygon.technology/
export POLYGON_CARDONA_RPC_URL=https://rpc.cardona.zkevm-rpc.com


# ------------------------------------------------------------------------------
# Wallets

# Deployer Wallet
# (Note that for this example we are reusing anvil's default wallets.)
export DEPLOYER_PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80

# ------------------------------------------------------------------------------
# Contract Verification

# Etherscan API Keys
export ETHERSCAN_API_KEY=ABC123ABC123ABC123ABC123ABC123ABC1
export POLYGONSCAN_API_KEY=ABC123ABC123ABC123ABC123ABC123ABC1
export OPTIMISM_ETHERSCAN_API_KEY=ABC123ABC123ABC123ABC123ABC123ABC1
export OPTIMISM_ETHERSCAN_API_KEY=ABC123ABC123ABC123ABC123ABC123ABC1

# Optimisim Etherscan URLs
export OPTIMISM_SEPOLIA_ETHERSCAN_URL=https://api-sepolia-optimistic.etherscan.io/api
export OPTIMISM_ETHERSCAN_URL=https://api-optimistic.etherscan.io/api

# Ethereum Etherscan URLs
export SEPOLIA_ETHERSCAN_URL=https://api-sepolia.etherscan.io/api
export ETHEREUM_ETHERSCAN_URL=https://api.etherscan.io/api


# ------------------------------------------------------------------------------
# Command to run a deployment script
# In general, the command to run a deployment script will look like this:
# forge script script/deploymentScript/DeploymentScript.s.sol --rpc-url $SEPOLIA_RPC_URL --chain-id 11155111 --private-key $WALLET_DEPLOYER_PK --etherscan-api-key $ETHERSCAN_API_KEY --verify --broadcast --legacy -vvv


# ------------------------------------------------------------------------------
# Workflow Deployment Parameters

# Issuance Token
export TOKEN_NAME_STRING='Test Token'
export TOKEN_SYMBOL_STRING='T-Token'
export TOKEN_DECIMALS=18
export MAX_SUPPLY=115792089237316195423570985008687907853269984665640564039457584007913129639935
export TOKEN_OWNER_ADDRESS=ABC123ABC123ABC123ABC123ABC123ABC1
export TOKEN_PROXY_ADMIN_ADDRESS=ABC123ABC123ABC123ABC123ABC123ABC1
export BLACKLIST_MANAGER_ADDRESS=ABC123ABC123ABC123ABC123ABC123ABC1

# Role Authorizer
export WORKFLOW_ADMIN_ADDRESS=ABC123ABC123ABC123ABC123ABC123ABC1

# Collateral Token (external)
export COLLATERAL_TOKEN_ADDRESS=0x065775C7aB4E60ad1776A30DCfB15325d231Ce4F

# Oracle Based Funding Manager
export PROJECT_TREASURY_ADDRESS=ABC123ABC123ABC123ABC123ABC123ABC1
export BUY_FEE_IN_BPS=0
export MAX_BUY_FEE_IN_BPS=0
export SELL_FEE_IN_BPS=0
export MAX_SELL_FEE_IN_BPS=0
export IS_DIRECT_OPERATION_ONLY_BOOL=true
export WHITELIST_ROLE_ADDRESS=ABC123ABC123ABC123ABC123ABC123ABC1
export WHITELIST_ROLE_ADMIN_ADDRESS=ABC123ABC123ABC123ABC123ABC123ABC1
export QUEUE_EXECUTOR_ROLE_ADDRESS=ABC123ABC123ABC123ABC123ABC123ABC1
export QUEUE_EXECUTOR_ROLE_ADMIN_ADDRESS=ABC123ABC123ABC123ABC123ABC123ABC1

# Manual Queue Payment Processor
export CANCELLED_ORDER_TREASURY_ADDRESS=ABC123ABC123ABC123ABC123ABC123ABC1
export FAILED_ORDER_TREASURY_ADDRESS=ABC123ABC123ABC123ABC123ABC123ABC1
export QUEUE_OPERATOR_ROLE_ADDRESS=ABC123ABC123ABC123ABC123ABC123ABC1
export QUEUE_OPERATOR_ROLE_ADMIN=ABC123ABC123ABC123ABC123ABC123ABC1

# Permissoned Oracle
export PRICE_SETTER_ROLE_ADDRESS=ABC123ABC123ABC123ABC123ABC123ABC1
export PRICE_SETTER_ROLE_ADMIN_ADDRESS=ABC123ABC123ABC123ABC123ABC123ABC1

# Workflow config
export INDEPENDENT_UPDATE_BOOL=false
export INDEPENDENT_UPDATE_ADMIN_ADDRESS=0x0000000000000000000000000000000000000000
